import todosSelector from "../selectors/todosSelector";

const TodosList = ({ todos }) => (
  <ul>{todos.map((todo) => <li key={todo}>{todo}</li>)}</ul>
);
TodosList.propTypes = {
  todos: PropTypes.arrayOf(PropTypes.string).isRequired
};

export default connect((state) => ({
  todos: todosSelector(state)
}))(TodosList);
