const state = {
  todos: ["buy milk", "wash car", "validate existence"],
  done: ["wake up"]
};

// If using lodash-fp, you can simplify this:
// const todosSelector = getOr([])('todos');
const todosSelector = state => state && state.todos || [];

const todos = todosSelector(state);
// ["buy milk", "wash car", "validate existence"]
