// With an extra closure
const allItemsSelector = createSelector(
  [todosSelector, doneSelector],
  (todos, done) => concat(todos, done) // can also be written as concat(todos)(done)
);

// Using es6 prototype methods
const allItemsSelector = createSelector(
  [todosSelector, doneSelector],
  (todos, done) => todos.concat(done)
);

// Using the global es6 array method
const allItemsSelector = createSelector(
  [todosSelector, doneSelector],
  Array.prototype.concat
);
